@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared Styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gradient {
  background-image: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    background-image: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F );
    padding: 12.5px 16px;
    border-radius: 1000px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 4px ;
    align-items: center;
    border: none;
}
.none{
    display: none;
}
.description{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.802);
}

/* Header styles stats here */
#header{
    background-color: #1A0B2E;
}
#header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    padding: 24px 0px;
}
nav .nav-logo{
    font-size: 30px;
    color: #FFFFFF;
}
.links ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.links ul li{
    list-style-type: none;
}
.links ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.hamburger-menu{
    display: none; 
}

/* Banner section style here  */
.banner-section{
    background-image: url("../assets/hero-bg.png");
    background-size:contain;
    background-position: center;
    background-repeat: repeat-x;
    padding: 80px 0px;
    text-align: center;
    max-height: 760px;
    border-top: 1px solid #2A186C;
}
.banner-img{
    position: relative;
}
.banner-img .mic-bg{
    max-width: 350px;
    max-height: 350px;
}
.mic{
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    left: 45%;
    top: 25%;

}
.badge{
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 100px;
    left: 57%;
    top: 6%;
}
.banner-heading{
    font-size: 60px;
    font-weight: 800;
    color: white;
    margin-top: 40px;
    margin-bottom: 8px;
}
.banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}
#transparent-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* Responsive styles here */
@media screen and (max-width:576px) {
    .links, .nav-btn{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}