@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared Styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gradient {
  background-image: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    background-image: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F );
    padding: 12.5px 16px;
    border-radius: 1000px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 4px ;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    color: rgba(245, 245, 220, 0.92);
}
.none{
    display: none;
}
.description{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.642);
    line-height: 24px;
}
.section-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: white;
}

/* Header styles stats here */
#header{
    background-color: #1A0B2E;
}
#header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    padding: 24px 0px;
}
nav .nav-logo{
    font-size: 30px;
    color: #FFFFFF;
}
.links ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.links ul li{
    list-style-type: none;
}
.links ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.links ul li a:hover{
    color: #00FF88;
}
.hamburger-menu{
    display: none; 
}

/* Banner section style here  */
.banner-section{
    background-image: url("../assets/hero-bg.png");
    background-size:contain;
    background-position: center;
    background-repeat: repeat-x;
    padding: 80px 0px;
    text-align: center;
    max-height: 760px;
    border-top: 1px solid #2A186C;
}
.banner-img{
    position: relative;
}
.banner-img .mic-bg{
    max-width: 350px;
    max-height: 350px;
}
.mic{
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    left: 45%;
    top: 25%;

}
.badge{
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 100px;
    left: 57%;
    top: 6%;
}
.banner-heading{
    font-size: 60px;
    font-weight: 800;
    color: white;
    margin-top: 40px;
    margin-bottom: 8px;
}
.banner-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}
#transparent-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* About section styles here */
#about-section{
    background-color: #1A0B2E;
    padding-top: 50px;
}
.about-info-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.108);
    padding-bottom: 80px;
}
.info{
    line-height: 30px;
    text-align: center;
    margin-top: 16px;
}
.achievement{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 40px;
    padding: 80px 0px 90px 0px;
}
.achv-info{
    text-align: center;
    max-width: 240px;
}
.achv-info h3{
    font-size: 48px;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 16px;
}
.star-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.star{
    font-size: 30px;
}

/* Why choose section style */
.why-choose-section{
    background-color: #230E3D;
    padding: 100px 0px;
}
.choose-grid-container{
    margin-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 273px);
}
.long-card{
    grid-column: span 2;
    grid-row: span 2;
}
.wide-card{
    grid-column: span 4;
    grid-row: span 1;
}
.regular-card{
    grid-column:  span 2;
    grid-row: span 1;
}
.choose-grid-container div{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.choose-grid-container div img{
    max-width: 60px;
    max-height: 60px;
}
.card-title{
    font-size: 24px;
    font-weight: 700;
    color: white;
}


/* Featured section style here */
.featured-section{
    background-color: #1A0B2E;
    padding: 100px 0px;
}
.featured-card-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.card{
    background-color: #250D44;
    border-radius: 24px;
    max-width: 380px;
}
.iframe-video{
    max-width: 400px;
}
.iframe-video iframe{
    border: none;
    border-radius: 24px 24px 0px 0px;
    width: 100%;
    height: 225px;
}
.card-info{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.duration{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 6px;
    align-items: center;
}
.duration img{
    width: 20px;
    height: 20px;
}

/* Host section styles here */
.host-section{
    background-color:#1A0B2E;
    padding-bottom: 100px;
}
.host-details{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 48px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    margin-top: 40px;
}
.host-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.host-info .host-name{
    font-size: 32px;
    font-weight: 600px;
    color: white;
}
.host-info .social-links{
    display: flex;
    gap: 8px;
    align-items: center;
}
.host-info .social-links div img{
    width: 20px;
    height: 20px;
}
.host-info .social-links div{
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
}


/* Responsive styles here */
@media screen and (max-width:576px) {
    .links, .nav-btn{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .banner-section{
        background-position: 50% 25% ;
        padding: 40px 0px;
    }
    .banner-img .mic-bg{
        max-width: 200px;
        max-height: 200px;
    }
    .mic{
        width: 46px;
        height: 70px;
    }
    .banner-heading{
        font-size: 40px;
        font-weight: 800;
        color: white;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    #about-section{
        padding-top: 20px;
    }
    .about-info-container{
        padding-bottom: 40px;
    }
    .achievement{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 40px 0px;
    }
    .achv-info h3{
        font-size: 20px;
    }
    .section-title{
        font-size: 32px;
    }
    .why-choose-section{
        padding: 20px 0px;
    }
    .choose-grid-container{
        margin-top: 40px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .long-card{
        grid-column: span 1;
        grid-row: span 1;
    }
    .wide-card{
        grid-column: span 1;
        grid-row: span 1;
    }
    .regular-card{
        grid-column:  span 1;
        grid-row: span 1;
    }
    .featured-section{
        padding: 40px 0px;
    }
    .featured-card-container{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .host-section{
        padding-bottom: 20px;
    }
    .host-details{
        flex-direction: column;
        gap: 16px;
        align-items: center;
        padding: 24px;
        margin-top: 24px;
    }
    .host-info{
        align-items: center;
        text-align: center;
    }
}